<html>
<head>
<style>

.trow1:hover { background: #d7d7d7; }
</style>
</head>
</head>
<body>
	<center>
		<h2>Current Iteration issues </h2>
	</center>

	<hr/>
	<table width=100%>
	<tr bgcolor=#f4f4f4 width=100%>
		<th>Id</th>
		<th>Tracker</th>
  		<th>Status</th>
		<th>Priority</th>
		<th>Subject</th>
		<th>Updated</th>
		<th></th>
	</tr>
	<% @issues.each do |issue| %>
	<% if issue.status_id ==  2 %>
	<tr class="trow1">
		<td align=center><%= issue.id %></td>
		<td align=center><%= issue.tracker %></td>
		<td align=center><%= issue.status %></td>
		<td align=center><%= issue.priority %></td>
		<td align=center><%= link_to issue.subject, issue_path(issue.id) %></td>
		<td align=center><%= issue.updated_on.to_date %></td>
		<td align=center><%= link_to "update", edit_issue_path(issue.id) %></td>
	</tr> 
	<% @project1 = issue.project_id %>
	<% end %>
	<% end %>
	</table>
<hr/>
<%= link_to "Back to issues list ", project_issues_path(@project1) %>
</body>
</html>
