<html><p>Creating task for story -> <b><%= @story.name%></b></p><br>
<div id ="new_look">
<table>
<%= form_for @task, :url => {:action => :create, :id => @story_id } do |f| %>
 <tr><td id="tdleft">
    <%= f.label :name %></td>
    <td><%= f.text_field :name %></td></tr>
 <tr><td id="tdleft">
    <%= f.label :task_type %></td>
    <td><%= f.select(:task_type, options_for_select(["Analysis", "Collabrate", "Develop","Debug", "Test", "Other"])) %></td></tr>
 <tr><td id="tdleft">
    <%= f.label :disposition %></td>
    <td><%= f.select(:disposition, options_for_select(["Added", "Planned", "Carried Over", "Discovered" ])) %></td>
  </tr>
  <tr>
    <td id="tdleft"><%= f.label :acceptor %></td>
	<td><%= f.select :acceptor, User.find(:all, :conditions =>"lastname= Admin").collect{|p|[p.lastname]},  {:include_blank => 'select'} %></td></tr>
 <tr><td id="tdleft">
    <%= f.label :estimated_hours %></td>
    <td><%= f.text_field :estimated_hours%></td></tr>
 <tr><td id="tdleft">
    <%= f.label :description %></td>
    <td><%= f.text_area :description %></td></tr>
  <tr><td>
    <%= f.submit %></td></tr>
<% end %></table></div>

<style>
	#new_look{background: #F5FCFC;  border-radius: 5px 5px 5px 5px;
    margin-left: 50px;
    max-width: 65%;}
    #tdleft{float: right; top: 9px; position: relative;}
    textarea {
    resize: none;
    cols: 20;
    rows: 40;
    width: 462px; height: 214px;
    }
</style>
</html>
