
<html>
<%= stylesheet_link_tag('pagination', 'style')%>
<%= javascript_include_tag('jquery.min', 'jquery.tablesorter')%>
<div class="contextual">

  <% if User.current.allowed_to?(:add_subprojects, @project) %>
    <%#= link_to l(:label_subproject_new), {:controller => 'projects', :action => 'new', :parent_id => @project}, :class => 'icon icon-add' %>
  <% end %>
</div>
<h2><%=l(:label_overview)%></h2>
<%#= javascript_include_tag('RGraph.bar', 'RGraph.common.core')%>
<body>

<table border="1" width="800" class="test_border">
  <tr>
    <td width="250">
	<div class="splitcontentleft">
		
			
			  <% if @subprojects.any? %>
				<li><%=l(:label_subproject_plural)%>:
				  <%= @subprojects.collect{|p| link_to(h(p), :action => 'show', :id => p)}.join(", ").html_safe %></li>
			  <% end %>
			  <% @project.visible_custom_field_values.each do |custom_value| %>
			  <% if !custom_value.value.blank? %>
				 <li><%=h custom_value.custom_field.name %>: <%=h show_value(custom_value) %></li>
			  <% end %>
			  <% end %>
			  </ul>
		
			  <% if User.current.allowed_to?(:view_issues, @project) %>
			  <div class="issues_box_test">
				<h3><%=l(:label_issue_tracking)%></h3>
				<ul>
				<% for tracker in @trackers %>
				  <li><%= link_to h(tracker.name), :controller => 'issues', :action => 'index', :project_id => @project,
															:set_filter => 1,
															"tracker_id" => tracker.id %>:
					  <%= l(:label_x_open_issues_abbr_on_total, :count => @open_issues_by_tracker[tracker].to_i,
																:total => @total_issues_by_tracker[tracker].to_i) %>
				  </li>
				<% end %>
				</ul>
				<p>
				  <%= link_to l(:label_issue_view_all), :controller => 'issues', :action => 'index', :project_id => @project, :set_filter => 1 %>
				  <% if User.current.allowed_to?(:view_calendar, @project, :global => true) %>
					| <%= link_to(l(:label_calendar), :controller => 'calendars', :action => 'show', :project_id => @project) %>
				  <% end %>
				  <% if User.current.allowed_to?(:view_gantt, @project, :global => true) %>
					| <%= link_to(l(:label_gantt), :controller => 'gantts', :action => 'show', :project_id => @project) %>
				  <% end %>
				</p>
			  </div>
			  <% end %>
			  <%= call_hook(:view_projects_show_left, :project => @project) %>
			</div>
	</td>
    <td  width="300">
		<div class="splitcontentright">
  <%= render :partial => 'members_box' %>
  <% if @news.any? && authorize_for('news', 'index') %>
	  <div class="news box">
		<h3><%=l(:label_news_latest)%></h3>
		<%= render :partial => 'news/news', :collection => @news %>
		<p><%= link_to l(:label_news_view_all), :controller => 'news', :action => 'index', :project_id => @project %></p>
	  </div>
	  <% end %>
	  <%= call_hook(:view_projects_show_right, :project => @project) %>
	</div>
    </td>
  </tr>
</table>
<hr>
<div class ="tablestyle">
<table id="myTable" class="tablesorter">
	<thead> 
		<tr class="iterationtr">
			<th>
				Iteration Name
			</th>
			<th>
				Iteration Type
			</th>
			<th>
				Start Date
			</th>
			<th>
				End Date
			</th>
			<th>
				Status
			</th>	
			<th>
				
			</th>
			<th>
				
			</th>
		</tr>
	</thead> 
	<tbody> 
		<%@iterations.each do |it| %>
		<%if it.status == "Open"%>
			<tr style="background-color: #507AAA;">
				<td width ="200px" style="background-color: #8DBDD8;" >
					<%= link_to it.name, project_iteration_path(@project.id, it.id)  %>
				</td>
				<td width ="100px" style="background-color: #8DBDD8;" >
					<%= it.iterationtype %>
				</td>
				<td width ="100px" style="background-color: #8DBDD8;" >
					<%= it.start_date %>
				</td>
				<td width ="100px" style="background-color: #8DBDD8;" >
					<%= it.end_date %>
				</td>
				<td width ="100px" style="background-color: #8DBDD8;" >	
					<%= it.status %>
				</td>
  				<td style="background-color: #8DBDD8;" >
  					<%= link_to "edit", edit_project_iteration_path(@project.id, it.id), :confirm => 'Are you sure?', :method => :edit %>
  				</td>
				<td style="background-color: #8DBDD8;">
					<%= link_to "Destroy", deleteiteration_project_iteration_path(@project.id, it.id), :confirm => 'Are you sure?', :method => :delete  %> 
				</td>
			</tr>
		  	<%else%>
			<tr width="900px" align="center"  >
				<td width ="200px">
					<%= link_to it.name, project_iteration_path(@project.id, it.id)  %>
				</td>
				<td width ="100px">
					<%= it.iterationtype %>
				</td>
				<td width ="100px">
					<%= it.start_date %>
				</td>
				<td width ="100px">
					<%= it.end_date %>
				</td>
				<td width ="250px">	
					<%= it.status %>
				</td>
  				<td width ="100px" > <%= link_to "edit", edit_project_iteration_path(@project.id, it.id), :confirm => 'Are you sure?', :method => :edit %></td>
				<td width ="100px" ><%= link_to "Destroy", deleteiteration_project_iteration_path(@project.id, it.id), :confirm => 'Are you sure?', :method => :delete %> </td>
			</tr>
		<%end%>
		<% end %>
		</tbody> 
	</table>
</div>
<div class="pagination">
	<%= will_paginate @iterations, :container => false, :page_links => true %>
</div>
<%if User.current.admin?  %>
	<%= link_to "New Iteration",  new_project_iteration_path(@project.id), :id => "buttonstyle" %>
<%end %>

</body>
</html>
<% request.referer %>
<script>
$(document).ready(function() 
    { 
        $("#myTable").tablesorter( {sortList: [[0,0], [1,0]]} ); 
    } 
);  
</script>
<style>
	  .issues_box_test 
	  {
			border: 1px solid #E4E4E4;
			color: #505050;
			line-height: 1.5em;
			margin-bottom: 10px;
			padding: 6px;
			width: 190%;
			background-color: #F5FCFC;
    }
    .test_border{
			width: 100%;
		}



	</style>
