<html>
<div id ="new_look">
<table >
<%= form_for @story, :url => {:action => :update, :id => @story.id } do |f| %>
<tr><td id="tdleft"><%= f.label :name %></td>
    <td><%= f.text_field :name %></td></tr>
<tr><td id="tdleft"><%= f.label :type %></td>
    <td><%= f.select(:Type, options_for_select(["DEL", "REQ", "FEAT","ACT","TST","SCM","VOC","DEV","RPT"])) %></td></tr>
  <tr><td id="tdleft">  <%= f.label :Description %></td>
    <td> <%= f.text_field :disposition %> </td></tr>
  <tr><td id="tdleft"><%= f.label :Customer %></td>
    <td> <%= f.text_field :customer %> </td> </tr>
 <tr><td id="tdleft">
    <%= f.label :Tracker %></td>
    <td><%= f.text_field :tracker %></td></tr>
  <tr><td id="tdleft">
    <%= f.label :Status %></td>
  <td>  <%= f.text_field :status %></td></tr>
  <tr><td id="tdleft">
    <%= f.label :Priority %></td>
   <td> <%= f.text_field :priority %></td></tr>
 <tr><td id="tdleft">
    <%= f.label :description %></td>
 <td>   <%= f.text_area :description %></td></tr>
 <tr>
		<td>
    <%= f.submit %></td></tr>
<% end %>
</table >
</div>
</html>
<style>
	#new_look{background: #F5FCFC;  border-radius: 5px 5px 5px 5px;
    margin-left: 50px;
    max-width: 65%;}
    #tdleft{float: right; top: 9px; position: relative;}
    textarea {
    resize: none;
    cols: 20;
    rows: 40;
    width: 462px; height: 214px;
    }
</style>
