<html>
<h2><%= link_to "All Iterations", project_path(@project)%> >> <%= link_to "All Stories",  project_iteration_path(@project.id, @iteration.id, @story.id )%> >> <%= @story.name %></h2>
<table bgcolor = #f4f4f4>
<tr>
	<td>
		Name:<%= @story.name %>
	</td></tr>
	<tr><td>
		Type:<%= @story.Type %>
	</td></tr>
	<tr><td>
		Description:<%= @story.disposition%>
	</td></tr>
	<tr><td>
		Customer:<%= @story.customer %>
	</td></tr>
	<tr><td>
		Tracker:<%= @story.tracker %>
	</td></tr>
	<tr><td>
		Status:<%= @story.status %>
	</td></tr>
	<tr><td>
		Priority:<%= @story.priority %>
	</td></tr>
	<tr><td>
		Order:<%= @story.order %>
	</td></tr>
	<tr><td>
		Estimated_hours:<%= @story.Estimated_hours %>
	</td></tr>
</tr>
</table>
<h3>ALL TASKS</h3>
	<table>
		<tr bgcolor=#c4c4c4>
			<th>Task Name	
			</th>
			<th>Task Type	
			</th>
			<th>Disposition
			</th>
			<th>Acceptor	
			</th>
			<th>Estimation Time
			</th>
			<th>Description
			</th>
		</tr>
		<% @story.tasks.each do |ts| %>	 
			<tr  align="center" border = "1px">
				<td >
					<% pro = Project.find(params[:project_id]) %>
					<%if ts.status == true%>        
						<s><%= link_to ts.name, project_iteration_story_task_path(pro.id,@iteration.id,@story.id,ts.id) %></s>
                          <%else%>
                      <%= link_to ts.name, project_iteration_story_task_path(pro.id,@iteration.id,@story.id,ts.id) %>
                <%end%>
				</td>
				<td >
					<%=  ts.task_type %>
				</td>
				<td >
					<%=  ts.disposition %>
				</td>
				<td >
					<%=  ts.acceptor %>
				</td>
				<td >
					<%=  ts.estimated_hours.round(2) %>
				</td>
				<td >
					<%=  ts.description %>
				</td>
	     <% end %>
	 </table>
<br>
<hr/>
<% if User.current.admin? %>
<% else %>
<% if @project.name == "Abseence data" %>
<%= link_to "Leave", new_project_iteration_story_attendance_path(@project.id,@iteration.id,@story.id)%>
<%else %>
<%= link_to "create Task" , new_project_iteration_story_task_path(@project.id, @iteration.id,@story.id) %>
<% end %>
<% end %>
</html>
