<%= stylesheet_link_tag( 'default')%>
<%= javascript_include_tag('jquery.min', 'glDatePicker.min', 'date')%>
<h1>Editing Iteration</h1>
<% @flag = 0 %>
<html>
<p> New Iteration for <b><%= @project.name %></b> </p>
<table border="1" >
<tr>
<%= form_for @iteration , :url => {:action => :update, :id => @iteration.id } do |f| %>
 <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    
    <%= f.select(:iterationtype, options_for_select(["Weekly", "Monthly", "BIO-Monthly"]), {}, {:disabled => true}) %>
  </div>
  <div class="field">
    <%= f.label :Start_date %><br />
    <%= f.text_field :start_date, :id => :popupDatepicker , :onmouseout=> "myFunction()", :disabled => "true"%>
  </div>
  <div class="field">
    <%= f.label :End_date %><br />
    <%#= f.date_select :end_date %>
    <%= f.text_field :end_date, :id => :popupDatepicker1 , :disabled => "true"%>
  </div>
   <div class="field">
    <%= f.label :Status %><br />
 <%= f.select(:status, options_for_select(["Planned","Open"]), {}, {:disabled => true}) %>


  </div>
  <div class="field">
    <%= f.label :Description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</tr>
 </table>
</html>

<script>
	$("#popupDatepicker").glDatePicker(
	{
		onChange: function(target, newDate)
		{
			target.val
			(
				newDate.getFullYear() + "-" +
				(newDate.getMonth() + 1) + "-" +
				newDate.getDate()
			);
		}
	});
	$("#popupDatepicker1").glDatePicker(
	{
		onChange: function(target, newDate)
		{
			target.val
			(
				newDate.getFullYear() + "-" +
				(newDate.getMonth() + 1) + "-" +
				newDate.getDate()
			);
		}
	});
</script>
