<%= form_for @attendance, :url => {:action => :create, :id => @story_id } do |f| %>
  <% if @attendance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@attendance.errors.count, "error") %> prohibited this attendance from being saved:</h2>

      <ul>
      <% @attendance.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :leave_type %><br />
    <%= f.select(:leave_type, options_for_select(["Medical", "General", "Loss of pay", "Other"])) %>
  </div>
  <div class="field">
    <%= f.label :subject %><br />
    <%= f.text_field :subject %>
  </div>
   <div class="field">
    <%= f.label :Date %><br />
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :hours %><br />
    <%= f.text_field :hours %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
