<%= form_for(@absence) do |f| %>
  <% if @absence.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@absence.errors.count, "error") %> prohibited this absence from being saved:</h2>

      <ul>
      <% @absence.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date_of_joining %><br />
    <%= f.date_select :date_of_joining %>
  </div>
  <div class="field">
    <%= f.label :employee_id %><br />
    <%= f.text_field :employee_id %>
  </div>
  <div class="field">
    <%= f.label :no_of_hours %><br />
    <%= f.text_field :no_of_hours %>
  </div>
  <div class="field">
    <%= f.label :emp_name %><br />
    <%= f.text_field :emp_name %>
  </div>
  <div class="field">
    <%= f.label :group %><br />
   <%= f.select(:group, options_for_select(["ROR","MSBI", "Congnos", "SAP","DOTNET","JAVA","IT Support"]), :required => true) %>
  </div>
  <div class="field">
    <%#= f.label :user_id %><br />
    <%#= f.text_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
