
<table>
<tr>
<td>
Name:
</td>
<td>
<%= @task.name %>
</td>
</tr>
<tr>
<td>
task_type
</td>
<td>
<%= @task.task_type %>
</td>
</tr>
<tr>
<td>
disposition
</td>
<td>
<%= @task.disposition %>
</td>
</tr>
<tr>
<td>
acceptor
</td>
<td>
<%= @task.acceptor %>
</td>
</tr>

<tr>
<td>
estimated_hours
</td>
<td>
<%= @task.estimated_hours %>
</td>
</tr>
<tr>
<td>
description
</td>
<td>
<%= @task.description %>
</td>
</tr>
</table>
<% @total_hours = 0 %>
<table>

<hr/>

</table>
</table>



